body {
            background-color: black;
        }
    
    
        .const {
    
            background-color: black;
    
        }
    
        .col {
            font-size: 10px;
    
        }
    .fa {
            padding: 6px;
            font-size: 20px;
            width: 10px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
        }
        
        .card{
            transition: width 2s, height 2s, transform 2s;
        }
        .card:hover{
           
            
            transform:scale(2);
            background-color:black;
            color:chartreuse;
        
        }
        
    
